/* Gjør alle markdown-bilder responsive */
.container img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 1.5rem 0;
}
/* Custom sidebar skjules initielt */
.sidebar {
  visibility: hidden;
  display: none;
}

@media (min-width: 768px) {
  /* custom sidebar høyre side */
  .sidebar {
    visibility: visible;
    display: flex;
    background-color: #ecf8ff;
    padding: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
  }
  
  .sidebar li {
    margin: 0.3rem 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #222;
  }
  
  .sidebar a.active {
    font-weight: bold;
  }
  
  .sidebar a:focus {
    outline: 3px solid #005fcc;
    outline-offset: 2px;
  }

}
